<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th=""http://www.thymeleaf.org>

<body>
	<h1>Olá Mundo, Thymeleaf configurado</h1>
</body>

	<form method="POST" th:object="${brew}">
	
		<span th:text="${#fields.hasAnyErrors()}"></span>
		<div th:each="error : ${#fields.detailedErrors()}">
			<span th:text="${error.message}"></span>
		</div>
		<br>
		<label for="sku">SKU</label>
		<input type="text" id="sku" th:field="*{sku}">
		<br>
		
		<label for="name">Name</label>
		<input type="text" id="name" th:field="*{name}">
		<br>
		
		<label for="description">Description</label>
		<textarea rows="4" cols="30" id="description" th:field="*{description}"/>
		<br>
				
		<input type="submit" value="Salvar">
		<br>
		
		<span th:text=${message}>Response Message</span>
	</form>

</html>